<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Explorador de Arquivos</title>
</head>
<body>
    <div class="container">
        <h1>Explorador de Arquivos</h1>
        <form action="/change_directory" method="post">
            <label for="directory">Mudar Diretório:</label>
            <input type="text" id="directory" name="directory" value="{{ current_directory }}"><br><br>
            <input type="submit" value="Mudar Diretório">
        </form>
        <h2>Arquivos no Diretório Atual:</h2>
        <ul>
            {% for file in files %}
                <li>
                    <form action="/select_file" method="post" style="display: inline;">
                        <input type="hidden" name="file" value="{{ file }}">
                        <input type="submit" value="Selecionar">
                    </form>
                    {{ file }}
                </li>
            {% endfor %}
        </ul>
        <form action="/download" method="get">
            <input type="submit" value="Baixar Arquivo Selecionado">
        </form>
    </div>
</body>
</html>
