<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Control Panel</title>
</head>
<body>
    <div class="container">
        <h1>Control Panel</h1>
        <div class="control-buttons">
            <button class="btn up" onclick="sendAction('up')">▲</button>
            <button class="btn left" onclick="sendAction('left')">◀</button>
            <button class="btn right" onclick="sendAction('right')">▶</button>
            <button class="btn down" onclick="sendAction('down')">▼</button>
        </div>
        <div class="action-buttons">
            <button class="btn power" onclick="sendAction('power')">Ligar</button>
            <button class="btn pause" onclick="sendAction('pause')">Pausa</button>
            <button class="btn stop" onclick="sendAction('stop')">Desligar</button>
        </div>
        <div>
            <button class="btn file_browser" onclick="window.location.href='/file_browser'">Escolher Pasta/Arquivo</button>
        </div>
        {% if current_file %}
            <div>
                <h2>Arquivo Selecionado: {{ current_file }}</h2>
                <form action="/download" method="get">
                    <input type="submit" value="Baixar Arquivo Selecionado">
                </form>
            </div>
        {% endif %}
    </div>
    <script>
        function sendAction(direction) {
            fetch('/action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `direction=${direction}`
            });
        }

        document.querySelectorAll('.btn').forEach(button => {
            button.addEventListener('mousedown', () => {
                button.style.backgroundColor = 'yellow';
            });
            button.addEventListener('mouseup', () => {
                button.style.backgroundColor = '';
            });
            button.addEventListener('mouseout', () => {
                button.style.backgroundColor = '';
            });
        });
    </script>
</body>
</html>
