<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Control Panel</title>
</head>
<body>
    <div class="container">
        <h1>Control Panel</h1>
        <div>
            <button class="btn" onclick="sendAction('power')">Ligar</button>
            <button class="btn" onclick="sendAction('pause')">Pausa</button>
            <button class="btn" onclick="sendAction('stop')">Desligar</button>
            <button class="btn" onclick="sendAction('exit')">Sair</button>
        </div>
        <div>
            <button class="btn" onclick="window.location.href='/file_browser'">Escolher Pasta/Arquivo</button>
        </div>
        {% if current_file %}
            <div>
                <h2>Arquivo Selecionado: {{ current_file }}</h2>
                <form action="/download" method="get">
                    <input type="submit" value="Baixar Arquivo Selecionado">
                </form>
            </div>
        {% endif %}
    </div>
    <script>
        function sendAction(action) {
            fetch('/action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `action=${action}`
            });
        }
    </script>
</body>
</html>
